<div class="row">

    <div class="col s12">

        <current-status></current-status>

        <button class="btn" (click)="addFakeMessage($event)">Add Fake Message</button>

        <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">

            <li *ngIf="!messages.length">No messages to display.</li>

            <li *ngFor="#message of messages">

                <div class="collapsible-header">

                    <h5>{{message.name}}</h5>
                    <small>Updated by: <strong>{{message.message.lastUpdatedBy}}</strong> on: <strong>{{message.message.lastUpdatedDate | date:'medium'}}</strong> | Originator: <strong>{{message.message.messageOriginator}}, {{message.message.messageOriginatorId | uppercase}}</strong></small>

                </div>

                <div class="collapsible-body">

                    <pre>{{message.message | json}}</pre>

                </div>

            </li>

        </ul>

    </div>

</div>